.form {
    --input-height: 3.38rem;
    
    display: flex;
    flex-wrap: wrap;
    margin-top: calc((var(--input-height) / 2) * -1);
}

.form input {
    height: var(--input-height);
    width: 39.875rem;
    border: 1px solid #0D0D0D;
    border-radius: 8px;
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22.4;
    padding: 1rem;
}

.form button[type="submit"] {
    padding: 1rem;
    border: 0;
    border-radius: 8px;
    flex: 1;
    background: var(--blue-dark);
    color: var(--gray-100);
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.225rem;
}