.task {
  display: flex;
  gap: 0.75rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(224, 5, 5, 0.06);
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 400;
}

.title {
  flex-grow: 1;
}

.titleSelected {
  flex-grow: 1;
  text-decoration: line-through;
  color: var(--gray-300);
}

.trash {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
  border: 0;
  width: 24px;
  height: 24px;
  color: var(--gray-300);
  cursor: pointer;
}

.trash:hover {
  color: var(--danger);
  background: var(--gray-400);
  border-radius: 4px;
  transition: background-color 0.1s;
}

.rowTaskToggle,
.rowTaskToggleSelected {
  margin: 0.16rem;
  width: 1.09rem;
  height: 1.09rem;
  cursor: pointer;
  border-radius: 999rem;
}

.rowTaskToggle {
  border: 1.99px solid var(--blue);
  background: none;
}

.rowTaskToggle:hover {
  border: 1.99px solid var(--blue-dark);
  background: rgba(30, 111, 159, .2);
  transition: background-color 0.1s;
}

.rowTaskToggleSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-100);
  border: 3px solid var(--purple-dark);
  background: var(--purple-dark);
}

.rowTaskToggleSelected:hover {
  border: 3px solid var(--purple);
  background: var(--purple);
  transition: background-color 0.1s;
}
